header {
	background-color: lightgray;
}

header>h1 {
	max-width: var(--content-width);
	margin: auto;
}

nav {
	max-width: var(--content-width);
	margin: auto;
}

main {
	max-width: var(--content-width);
	margin: auto;
}
