---
layout: layouts/base.liquid
---

{% include 'layouts/header.liquid' %}
{% include 'layouts/navigation.liquid' %}

<main>
	<h2>{{ title }}</h2>
	{{ content }}
</main>

{% include 'layouts/footer.liquid' %}
