<!DOCTYPE html>
<html lang="{{ metadata.lang or "en" }}">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
    {% if title and metadata.siteName %}
    {{ title }} | {{ metadata.siteName }}
    {% else %}
    {{ title or metadata.siteName or "Untitled Site" }}
    {% endif %}
  </title>
	<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
</head>

<body>
  {{ content | safe }}
</body>

</html>
