---
title: Home
layout: layouts/base.liquid
---

{% include 'layouts/header.liquid' %}

<main class="content-column">
{% for post in collections.posts reversed %}
	<article>
		<h3>
			<a href="{{ post.url }}">{{ post.data.title }}</a>
		</h3>
		<time>{{ post.date | date: "%Y-%m-%d" }}</time>
	</article>
{% endfor %}
</main>

{% include 'layouts/footer.liquid' %}
